// .about {
//     display: inline-block;
    
// }

.about-section {
    padding: 80px 132px;
    width: 1809px;
    height: 790px;
    display: flex;

}
.about-us {
    width: 174px;
    height: 44px;

}


.about-phrase {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--black);
    // my code
    margin-right: 40px;

}


// My code

.about-section .about-phrase {
    display: inline-block;
    
}

.about-image {
    width: 892px;
    height: 500px;
}


/*  (mobile) */
@media (max-width: 767px) {
    .about-section {
      padding: 40px 20px;
      width: auto;
      height: auto;
      display: inline-block;
    }
  
    .about-us {
      width: auto;
      height: auto;
      margin-bottom: 20px;
    }
  
    .about-phrase {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .about-image {
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
  }
  
  /*  (tablet) */
  @media (min-width: 768px) and (max-width: 1023px) {
    .about-section {
      padding: 60px 40px;
      width: auto;
      height: auto;
      display: flex;
    }
  
    .about-us {
      width: 147px;
      height: auto;
      margin-bottom: 20px;
      padding-left: 50px;

    }
  
    .about-section .about-phrase {
      margin-right: 0;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      

      padding-left: 50px;
    }
  
    .about-image {
      width: 100%;
      height: auto;
      margin-top: 20px;
      display: inline-block;
      padding-left: 50px;
    }
  }
  
  /* (desktop) */
  @media (min-width: 1024px) {
    .about-section {
      padding: 80px 132px;
      width: 1809px;
      height: 790px;
      display: flex;
    }
  
    .about-us {
      width: 174px;
      height: 44px;
    }
  
    .about-phrase {
      margin-right: 40px;
    }
  
    .about-image {
      width: 892px;
      height: 500px;
    }
  }