// .about {
//     display: inline-block;
    
// }

.about-section {
    padding: 80px 132px;
    width: 1809px;
    height: 790px;
    display: flex;


    @media screen and (min-width: 768px) {
        width: 375px;
        display: flex;
        padding: 80px 132px;
    }

    @media screen and (min-1223px) {
        width: 375px;
        display: flex;
        padding: 80px 132px;

    }
}
.about-us {
    width: 174px;
    height: 44px;

    @media screen and (min-width: 768px) {
        justify-content: flex-start;
      
        padding: 80px 132px;
    }

    @media screen and (min-1223px) {
        justify-content: flex-start;
      
        padding: 80px 132px;

    }
}


.about-phrase {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--black);
    // my code
    margin-right: 40px;

}


// My code

.about-section .about-phrase {
    display: inline-block;
    
}


