<footer class="footer">
    <div class="footer-container">
   <div class="footer-contact">
    <div class="footer-logo-container">
     <a class="link" href="#">
       <svg class="footer-logo" width="50" height="50">
          <use href="./images/icons.svg#footer-logo"></use>
       </svg>
     </a>
     </div>
     <div class="contact-number">
       <a class="contact link" href="tel:+123456789">+380 (68) 443-94-26</a>
     </div>
     <div class="contact">
         <address>
           <p class="address">1678 S. Pioneer Road<br> Salt Lake City<br> UT 84104</p>
       </address>
     </div>
   </div>
   <nav class="footer-nav">
     <ul class="footer-nav-list list">
       <li class="item nav-text"><a class="link" href="#about">ABOUT US</a></li>
       <li class="item nav-text"><a class="link" href="#catalog">CATALOG</a></li>
       <li class="item nav-text"><a class="link" href="#sale">SALE</a></li>
     </u>
   </nav>
   <div class="social-container">
     <ul class="footer-social-list list">
       <li class="footer-social-item">
         <a
            class="footer-social-link link"
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
         >
           <svg class="footer-social-icon" width="28" height="28">
             <use href="./images/icons.svg#icon-facebook"></use>
           </svg>
         </a>
       </li>
       <li class="footer-social-item">
         <a
            class="footer-social-link link"
            href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
         >
           <svg class="footer-social-icon" width="28" height="28">
             <use href="./images/icons.svg#icon-instagram"></use>
           </svg>
         </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link link"
            href="https://youtube.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" width="28" height="28">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        </ul>
  </div>
  </div>
  <div class="footer-rights-privacy">
  <p class="rights-privacy-text rights">©2022 The Watch Spot. All rights reserved.</p>
  <p class="rights-privacy-text"><a class="link privacy" href="/privacy-policy">Privacy Policy</a><a class="link terms" href="/terms-of-service">Terms of Service</a></p>
  </div>
</footer>